.row.testimonios 
    each testimonios in testimonio
        .col-md-6.col-lg-4.mb-4
            .card
                 .card-body
                    blockquote.blockquote
                    p.mb-0
                        | #{testimonios.mensaje}
                    footer.blockquote-footer
                        | #{testimonios.nombre} 